{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
{% include 'first.html.twig' %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion à la base de connaissance</h1>
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" value="{{ last_username }}" name="username" id="inputUsername" required autofocus><br><br>
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="password" id="inputPassword" required>

        <input type="hidden" class="btn btn-primary" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"> <br>
        <button type="submit" class="btn btn-primary">
            Se connecter
        </button>
    </form>
</div>
{% endblock %}
