{% extends 'base.html.twig' %}

{% block title %}Hello KnowledgesheetController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Fiche de connaissance</h1>
    <a href="{{ path('knowledgesheet_create') }}">Contribuer</a>

   <ul>
    {% for knowledgesheet in knowledgesheet %}
       <li> id  {{ knowledgesheet.id }} - {{ knowledgesheet.title }}
           <a href="{{ path('edit',{'id':knowledgesheet.id}) }}">Editer</a> -
           <a href="{{ path('delete',{'id':knowledgesheet.id}) }}">Delete</a>
       </li>
        {{ knowledgesheet.content }}
    {% endfor %}
   </ul>
</div>
{% endblock %}
