{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig'%}
    <div class="container">
        <div class="example-wrapper">
            <h2 class="text-center pt-xl-5 pb-4">Fiche de connaissance</h2>
            <a href="{{ path('knowledgesheet_create') }}">Contribuer</a>
            <div class="search-bar">{{ form(formSearch)}} </div>{# creation de la barre de recherche#}
            <ul class="ulsearch">
                {% for knowledgesheet in knowledgesheet %}
                    <div class="knowledge shadow-sm p-3 mb-5 bg-white rounded">
                        {#{{ knowledgesheet.id }} ID de la fiche pour le debug #}
                        <li><h2>{{ knowledgesheet.title }}</h2>
                            <div class="div_button_edit_supp">
                                <a href="{{ path('edit',{'id':knowledgesheet.id}) }}" class="button_edit_supp">Editer</a>
                                <a href="{{ path('delete',{'id':knowledgesheet.id}) }}"class="button_edit_supp">Supprimer</a>
                                <br>
                            </div>
                        </li>
                        <ul>
                            <li>{{ knowledgesheet.content|raw }}
                                <i>{{ knowledgesheet.keyword }}</i></li>
                        </ul>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
